@model TypingBook.ViewModels.Typing.TypingViewModel
@{
    var bookPages = @Html.Raw(Json.Serialize(Model.BookPages));
    var isIntroduction = @ViewBag.IsIntroduction == true ? 1 : 0;
}

<h1 @*class="display-4"*@>
    <span class="typed_text" id="typed_content"></span><span class="blink_text">|</span><span id="book_content">@Model.BookPages[@Model.CurrentBookPage]</span>
</h1>
<h6 class="text-dark">
    <br />@Model.BookTitle.ToUpper() by @Model.BookAuthors
</h6>

<div class="statistic">
    Correct typed: <span class="correctTyped">0</span>
    wrong typed: <span class="wrongTyped">0</span>
    typed code: <span class="typedCode">0</span>
    code to type: <span class="codeToType">0</span>
</div>

<a asp-action="Index">Back to List</a>

<script src="~/js/site.js" asp-append-version="true"></script>

<script>

    typingBook(@Model.CurrentBookPage, @bookPages, @isIntroduction);
</script>

