@model TypingBook.ViewModels.Typing.TypingViewModel
@{
    var bookPages = @Html.Raw(Json.Serialize(Model.BookPages));
}

<h1 @*class="display-4"*@>
    <span class="typed_text" id="typed_content"></span><span class="blink_text">|</span><span id="book_content">@Model.BookPages[@Model.CurrentBookPage]</span>
</h1>
<h6 class="text-muted">
    <br />@Model.BookTitle.ToUpper() by @Model.BookAuthors
</h6>


<div class="statistic">
    <span id="correctTyped" class="badge badge-info">0</span>
    <span id="wrongTyped" class="badge badge-danger">0</span>
    <span id="wrongTyped" class="badge badge-secondary">
        typed code: <span class="typedCode">0</span>
        code to type: <span class="codeToType">0</span>
    </span>
    <span id="startTypingPage"></span>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>

<script>
    typingBook(@Model.CurrentBookPage, @bookPages, @Model.BookId);
    setStartTime();
</script>

