@model TypingBook.ViewModels.Book.BookRowViewModel

@Html.HiddenFor(x => x.ID)

@using (Html.BeginForm())
{
    <p>
        @Html.ValidationSummary()
    </p>
    <p>
        @Html.LabelFor(x => x.Title)
        @Html.EditorFor(x => x.Title)
    </p>
    <p>
        @Html.LabelFor(x => x.Content)
        @Html.TextAreaFor(x => x.Content)
    </p>
    <p>
        @Html.LabelFor(x => x.Authors)
        @Html.EditorFor(x => x.Authors)
    </p>
    <p>
        @Html.LabelFor(x => x.Genre)
        @Html.ListBoxFor(m => m.Genre, Model.GenreSelectListItem)
    </p>
    <p>
        @Html.LabelFor(x => x.ReleaseDate)
        @Html.EditorFor(x => x.ReleaseDate)
    </p>

    <input type="submit" value="Submit changes" />
    <a asp-action="Index">Back to List</a>
}