@model TypingBook.ViewModels.Book.BookViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<form>
    Szukaj: <input type="text" id="book-search" name="bookOrCompanySearchString" />
    Gatunek:
    @Html.DropDownList("GenreFilter", Model.BookGenreSelectListItems)

    @*
        - same but prop in VM needed
        @Html.DropDownListFor(x => x.Genre, Model.BookGenreSelectListItems)

        - Alternative - Box list design, no prop in VM vs. prop needed
        @Html.ListBox("GenreFilter", Model.BookGenreSelectListItems)
        @Html.ListBoxFor(x => x.Genre, Model.BookGenreSelectListItems)
    *@

    <input type="submit" value="Refreash" /> | 
    <a href="@Url.Action("Create")">Add New</a>
</form>


@foreach (var item in Model)
{
    <h1 class="display-4">@item.Title</h1> 
    <p>
        by @item.Authors |
        <a href="@Url.Action("Edit", new { id = item.ID })">Edit</a> |
        <a href="@Url.Action("Delete", new { id = item.ID })">Delete</a>
    </p>
    <p>@item.Content</p>

}