@model TypingBook.ViewModels.Book.BookViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

    <div class="jumbotron">
        <form class="form-inline">
            <input type="text" id="book-search" name="bookOrAuthorSearchString" placeholder="search by title or author" class="form-control w-25" />
            @Html.DropDownList("GenreFilter", Model.BookGenreSelectListItems, new { @class = "form-control" })
            <input type="submit" value="Apply filter" class="btn btn-secondary" />
        </form>
        <a href="@Url.Action("Create")" class="btn btn-primary btn-lg mt-5">Add New Book</a>
    </div>

@foreach (var item in Model)
{
    <div class="jumbotron">
        <h1 class="display-4">@item.Title</h1>
        <p>by @item.Authors</p>
            
        <a href="@Url.Action("Index", "Typing", new { bookId = item.ID })" class="btn btn-primary btn-lg"><b>Type!</b></a>

        @if (User.Identity.IsAuthenticated)
        {
            <a href="@Url.Action("Edit", new { id = item.ID })" class="btn btn-secondary">Edit</a>
            <a href="@Url.Action("Delete", new { id = item.ID })" class="btn btn-danger">Delete</a>
        }
        
        <p>@item.Description</p>
    </div>
}