@model TypingBook.ViewModels.Book.BookViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form>
    Szukaj: <input type="text" id="book-search" name="bookOrCompanySearchString" />
    <input type="submit" value="Refreash" />
</form>


@foreach (var item in Model)
{
    <h1 class="display-4">@item.Title</h1> 
    <p>
        by @item.Authors |
        <a href="@Url.Action("Edit", new { id = item.ID })">Edit</a> |
        <a href="@Url.Action("Delete", new { id = item.ID })">Delete</a>
    </p>
    <p>@item.Content</p>

}